
body{
	padding: auto;
}
.introimg img{
	width: 100%;
}
.navbar{
	display: flex;
	padding: 5px;
	justify-content: space-between;
	align-items: center;
	/*height: 30vh;*/
	background-color: rgb(4, 2, 33);
}
.navbar-logo img{
	width: 60%;
}
.navbar-heading{
	font-family: 'Merriweather', serif;
	font-size: 3.4rem;
	margin-left: -2.5em;
}
.navbar-list{
	border-color: darkgrey;
	border-radius: 120px;
	margin-right: 2rem;
	transition: width 0.3s;
	cursor: pointer;
	/*padding-top: 7vh;*/
}
.line{
	height: 0.2rem;
	width: 2.5rem;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	background-color: darkgrey;

}
.navbar-list:hover .line{
	width: 3rem;
}
#navlist{
	display: flex;
	background-color: darkgrey;
	display: none;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	font-size: 1.4rem;

}
.seperation1{
	width: 100%;
	height: .5rem;
	background-color: rgb(200, 10, 10);
	/*margin-top: -5rem;*/
	margin-top: 5%;
	margin-bottom: 5%;
}
.seperation2{
	width: 100%;
	height: .5rem;
	background-color: rgb(170, 10, 10);
	/*margin-top: -5rem;*/
	margin-top: 5%;
	margin-bottom: 5%;
}
.seperation3{
	width: 100%;
	height: .5rem;
	background-color: rgb(110, 10, 10);
	/*margin-top: -5rem;*/
	margin-top: 5%;
	margin-bottom: 5%;
}
.seperation4{
	width: 100%;
	height: .5rem;
	background-color: rgb(140, 10, 10);
	/*margin-top: -5rem;*/
	margin-top: 5%;
	margin-bottom: 5%;
}
.seperation5{
	width: 100%;
	height: .5rem;
	background-color: rgb(140, 10, 10);
	/*margin-top: -5rem;*/
	margin-top: 5%;
	margin-bottom: 5%;
}
.sections{
	display: flex;
	flex-wrap: wrap;
	padding: auto;
	margin: auto;
	text-align: center;
	font-family:'Merriweather', serif;
	font-size: 2rem;
	width: 100%;
	justify-content: space-between;
  min-width: 300px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  text-align: center;
}
.commonname:hover .image {
  opacity: 0.3;
}

.commonname:hover .middle {
  opacity: 1;
}
.sections img{
	border-radius: 200px;
	width: 100%;
	height: 80%;
	padding-top: 3px;
	padding-bottom: 3px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.sections a{	
	border-radius: 200px;
	width: 100%;
	height: 80%;
	padding-top: 3px;
	padding-bottom: 3px;
}
.commonname{  
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 300px;
  width: 21%;
  padding: auto;
  border-radius: 16px;
  border-color: black;
  margin-top: 60px;
}
.container {
    position: relative;
    margin: 0 auto;
    display: flex;
    max-width: 1170px;
    min-width: 300px;
    width: 100%;
		font-family: 'Merriweather', serif;
		font-size: 1.0rem;
		text-align: center;
		justify-content: space-between;
		/*align-items: center;*/
}
 h1{
	font-size: 3.5rem;
	padding: auto;
	margin: auto;
	text-align: center;
	font-family:'Merriweather', serif;
	padding-top: 3%;

}
#stup img{
	border-color: black;
	border-style: solid;
}
@media (min-width: 1200px){
.navbar-logo img{
	width: 55%;
}
.navbar-heading{
	font-size: 3.2rem;
	margin-left: -2.3em;
}
.sections{
	font-size: 2rem;
}
}

@media (min-width: 990px) and (max-width: 1199px){
.navbar-logo img{
	width: 48%;
}
.navbar-heading{
	font-size: 3.0rem;
	margin-left: -2.6em;
}
.sections{
	font-size: 1.8rem;
}
.commonname{
	margin-top: 55px;
}
 h1{
	font-size: 3.3rem;
}
}
@media (min-width: 770px) and (max-width: 989px){
.navbar-logo img{
	width: 45%;
}
.navbar-heading{
	font-size: 2.2rem;
	margin-left: -2.9rem;
}
.sections{
	font-size: 1.5rem;
}
.commonname{
	margin-top: 50px;
}
 h1{
	font-size: 3.1rem;
}
}
@media (min-width: 488px) and (max-width: 769px){
.navbar-logo img{
	width: 40%;
}
.navbar-heading{
	font-size: 1.8rem;
	margin-left: -7rem;
}
.sections{
	font-size: 1.2rem;
}
.commonname{
	margin-top: 40px;
}
 h1{
	font-size: 2.8rem;
}
}
@media (max-width: 487px){
.navbar-logo{
	width: 0%;
}
.navbar-heading{
	font-size: 1.0rem;
	margin-left: 0;
	float: right;
}
.navlist{
	font-size: 1rem;
}
.sections{
	font-size: 1.8rem;
	min-width: 100px;
}
.sections a{
	border-radius: 200px;
	width: 100%;
	height: 80%;
	margin-top: 9px;
	margin-bottom: 7px;
}
.sections img{
	border-radius: 200px;
	width: 100%;
	height: 80%;
	margin-top: 9px;
	margin-bottom: 7px;
}
.sections p{
	padding: auto;
}
.commonname{
	margin-top: 30px;
  min-width: 280px;
  width: 19%;
  margin: auto;
  padding: auto;
}
 h1{
	font-size: 2.5rem;
}
#hamburger .line{
	width: 2rem;
	margin-bottom: 0.3rem;
	margin-top: 0.3rem;
}
.middle{
opacity: 1;
}
}